/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@300;400;600;700;800&display=swap');

/* Header */
.nav-title a{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

/* Body */
body{
    font-family: 'Poppins', sans-serif;
}
.carousel-caption h3{
    font-family: 'Poppins', sans-serif;
    font-size: 32;
    font-weight: 700;
}